@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

.ff-regular {
  font-family: 'Poppins';
}

.ff-medium {
  font-family: 'Poppins';
  font-weight: 500;
}

.ff-semiBold {
  font-family: 'Poppins';
  font-weight: 600;
}

.ff-semiBold {
  font-family: 'Poppins';
  font-weight: 600;
}

.ff-bold {
  font-family: 'Poppins';
  font-weight: 700;
}

.text-primary {
  color: #033C59 !important;
}

.bg-primary {
  background-color: #033C59 !important;
}

.btn-disabled {
  background-color: #cacfd5 !important;
}

.bg-gray {
  background-color: #cacfd5 !important;
}

.text-secondary {
  color: #29BCBA !important;
}

.text-gray {
  color: #5D6B6F !important;
}

.background {
  background-image: url(https://advisor-walkr-bucket.s3.amazonaws.com/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-mockup {
  background-image: url(https://walkr-bucket.s3.amazonaws.com/backgroundMockup.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-white {
  background-image: url('https://walkr-bucket.s3.amazonaws.com/bg-white+(1).svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-scrolled {
  background-color: #ffffff;
  /* Defina a cor de fundo desejada aqui */
  transition: background-color 0.3s ease;
  /* Adicione uma transição suave para o efeito de mudança de cor */
}

.free-card {
  background-image: url(https://walkr-bucket.s3.amazonaws.com/freeCard.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
}

.premium-card {
  background-image: url(https://walkr-bucket.s3.amazonaws.com/premiumCard.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;

}

.advisor-card {
  background-color: #f8f9fa;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.blue-risked {
  background-image: url(https://walkr-bucket.s3.amazonaws.com/blueRiskedBg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 24px;
}

.background-footer {
  background-image: url(https://walkr-bucket.s3.amazonaws.com/backgroundFooter.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.pointer {
  cursor: pointer;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.answer.show {
  max-height: 1000px;
  /* Um valor grande para garantir que a resposta seja exibida totalmente */
}

.nav-item :hover {
  color: gray !important
}

.input {
  margin-top: -5px;
}